.buscador {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 40rem;
    justify-content: center;

}

.lupa {
    padding-right: 0.5rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
}
